<div class="tx-clubdata-carousel">
    <f:asset.script identifier="jssor-slider" src="EXT:clubdata/Resources/Public/Js/jssor.slider.min.js" />
    <f:asset.script identifier="carousel-js" src="EXT:clubdata/Resources/Public/Js/carousel.js" />
    <f:asset.css identifier="carousel-css" href="EXT:clubdata/Resources/Public/Css/carousel.css" />

    <div id="jssor_1" class="clubdata-slider"
         data-carousel-auto-play="{settings.carousel.slider.autoPlay}"
         data-carousel-auto-scaling="{settings.carousel.slider.autoScaling}"
         data-carousel-container-width="{settings.carousel.slider.containerWidth}"
         data-carousel-slide-width="{settings.carousel.slider.slideWidth}"
         data-carousel-slide-height="{settings.carousel.slider.slideHeight}"
         data-carousel-arrow-width="{settings.carousel.slider.arrowWidth}"
         data-carousel-arrow-right-position="{settings.carousel.slider.arrowRightPosition}"
         data-carousel-min-slide-height="{settings.carousel.slider.minSlideHeight}">
        <!-- Loading Screen -->
        <div data-u="loading" class="jssorl-009-spin">
            <img src="{f:uri.resource(path: 'Images/spin.svg')}" />
        </div>

        <!-- Slides -->
        <div class="slides" data-u="slides">
            <f:for each="{programs}" as="program" iteration="iterator">
                <f:render partial="Club/CarouselItem" arguments="{
                    program:program,
                    settings:settings,
                    iterator:iterator
                }" />
            </f:for>
        </div>

        <f:if condition="{settings.carousel.slider.bullets}">
            <!-- Bullets -->
            <div data-u="navigator" class="jssorb051" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                <div data-u="prototype" class="i">
                    <svg viewbox="0 0 16000 16000">
                        <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                    </svg>
                </div>
            </div>
        </f:if>

        <f:if condition="{settings.carousel.slider.arrows}">
            <!-- Arrow Navigator -->
            <div data-u="arrowleft" class="jssora051 cover arrowleft" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                <svg viewbox="0 0 16000 16000">
                    <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
                </svg>
            </div>
            <div data-u="arrowright" class="jssora051 cover arrowright" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                <svg viewbox="0 0 16000 16000">
                    <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
                </svg>
            </div>
        </f:if>
    </div>
</div>
