<f:if condition="{prevUid}">
    <f:link.action action="detail" arguments="{showUid:prevUid}">
        previous show
    </f:link.action>
</f:if>

<f:if condition="{nextUid}">
    <f:link.action action="detail" arguments="{showUid:nextUid}">
        next show
    </f:link.action>
</f:if>

<div class="tx-clubdata-detail">
    <f:if condition="{program}">
        <f:render partial="Club/StructuredData" arguments="{program: program}" />
        <h1>{program.title}</h1>
        <div class="subtitle">
            <i>{program.subTitle}</i>
        </div>
        <div class="subtitle-2">
            {program.secSubTitle}
        </div>
        <div class="description">
            {program.description -> f:format.html()}
        </div>
        <div class="date">
            Date: {program.datetime -> f:format.date(format:'Y-m-d H:i')}
        </div>

        <f:if condition="{program.isUpcoming}">
            <f:then>
                <f:render partial="Product/CartForm" arguments="{product:program}" />
            </f:then>
            <f:else>
                <p style="color:red">That's in the past!</p>
            </f:else>
        </f:if>

        <table>
            <tr>
                <td style="vertical-align: top; padding-right: 1em;">
                    <f:for each="{program.picture}" as="image">
                        <f:image image="{image}"
                                 maxWidth="{settings.detail.image.maxWidth}"
                                 maxHeight="{settings.detail.image.maxHeight}" />
                    </f:for>
                </td>
                <td>
                    <dl>
                        <dt>intern</dt>
                        <dd>{f:if(condition:program.intern,then:'✔',else:'✗')}</dd>
                        <dt>avoidNl</dt>
                        <dd>{f:if(condition:program.avoidNl,then:'✔',else:'✗')}</dd>
                        <dt>highlight</dt>
                        <dd>{f:if(condition:program.highlight,then:'✔',else:'✗')}</dd>
                        <dt>permHighlight</dt>
                        <dd>{f:if(condition:program.permHighlight,then:'✔',else:'✗')}</dd>
                        <dt>hideDate</dt>
                        <dd>{f:if(condition:program.hideDate,then:'✔',else:'✗')}</dd>
                        <dt>entrance</dt>
                        <dd>{program.entrance}</dd>
                        <dt>seating</dt>
                        <dd>{program.seating}</dd>
                        <dt>venue</dt>
                        <dd>{program.venue}</dd>
                        <dt>catPriceA</dt>
                        <dd>{program.catPriceA}</dd>
                        <dt>priceA</dt>
                        <dd>{program.priceA}</dd>
                        <dt>catPriceB</dt>
                        <dd>{program.catPriceB}</dd>
                        <dt>priceB</dt>
                        <dd>{program.priceB}</dd>
                        <dt>catPriceC</dt>
                        <dd>{program.catPriceC}</dd>
                        <dt>priceC</dt>
                        <dd>{program.priceC}</dd>
                        <dt>ticketLink</dt>
                        <dd>{program.ticketLink}</dd>
                        <dt>preSales</dt>
                        <dd>{program.preSales}</dd>
                        <dt>internalInfo</dt>
                        <dd>{program.internalInfo}</dd>
                        <dt>visitors</dt>
                        <dd>{program.visitors}</dd>
                        <dt>state</dt>
                        <dd>{program.state.title}</dd>
                        <dt>links</dt>
                        <dd>
                            <f:for each="{program.links}" as="link">
                                {link.title} ({link.link.title})<br>
                            </f:for>
                        </dd>
                        <dt>services</dt>
                        <dd>
                            <f:for each="{program.services}" as="service">
                                {service.name}<br>
                            </f:for>
                        </dd>
                        <dt>categories</dt>
                        <dd>
                             <f:for each="{program.categories}" as="category">
                                {category.title}<br>
                            </f:for>
                        </dd>
                        <dt>maxTickets</dt>
                        <dd>{program.maxTickets}</dd>
                        <dt>soldTickets</dt>
                        <dd>{program.soldTickets}</dd>
                        <dt>serviceBarNum</dt>
                        <dd>{program.serviceBarNum}</dd>
                        <dt>stateText</dt>
                        <dd>{program.stateText}</dd>
                        <dt>seatings</dt>
                        <dd>{program.seatings}</dd>
                        <dt>reduction</dt>
                        <dd>{program.reduction}</dd>
                        <dt>genre</dt>
                        <dd>{program.genre}</dd>
                        <dt>festival</dt>
                        <dd>{program.festival}</dd>
                        <dt>noservice</dt>
                        <dd>{program.noservice}</dd>
                    </dl>
                </td>
            </tr>
        </table>
    </f:if>
</div>
