<f:for each="{programs}" as="program">
<div class="tx-ckmerlindata-pi1-program-item">
<div class="tx-ckmerlindata-pi1-program-item-info">
<h2>
<f:if condition="{program.toptitle}">
  <f:then>
    {program.toptitle}
  </f:then>
  <f:else>
    <f:for each="{program.category}" as="cat">{cat.title} </f:for>
  </f:else>
</f:if>
</h2>
<h1>{program.title}</h1>
</div>
<div class="tx-ckmerlindata-pi1-item-date <f:for each="{program.category}" as="cat">category-{cat.uid}</f:for>">
<f:format.date format="d">{program.fromdate}</f:format.date>
 </div>


</div>
</f:for>
