<div class="tx-clubdata-services">
    <f:if condition="{settings.list.pageyears}">
        <f:switch expression="{settings.list.show}">
            <f:case value="month">
                <f:render partial="Club/NavPrevCurrentNext" arguments="{
                    argumentsPrevLink: { date: prevmonth },
                    argumentsNextLink: { date: nextmonth },
                    argumentsCurrentLink: { date: currmonth },
                    currentLabel: '{showmonth -> f:format.date(format:\'%B %Y\')}'
                }" />
            </f:case>
            <f:case value="year">
                <f:render partial="Club/NavPrevCurrentNext" arguments="{
                    argumentsPrevLink: { date: prevmonth },
                    argumentsNextLink: { date: nextmonth },
                    argumentsCurrentLink: { date: thismonth },
                    currentLabel: '{showmonth -> f:format.date(format:\'%Y\')}'
                }" />
            </f:case>
        </f:switch>
    </f:if>

    <f:if condition="{categories -> f:count()}">
        <f:render partial="Club/NavCategories" arguments="{
            categories: categories,
            selectedCategory: selectedCategory
        }" />
    </f:if>

    <f:for each="{programs}" as="listItem">
        <f:render partial="Club/ListItem" arguments="{
            listItem:listItem,
            renderSettings:settings.services,
            iterator:iterator
        }" />
    </f:for>
</div>
