<f:variable name="image" value="{program.picture -> f:first()}" />

<f:link.action action="detail" pageUid="{settings.detailPid}" arguments="{showUid: program.uid}" class="slide-link">
    <div class="image-wrap">
        <f:image id="img-{image.uid}"
                 class="slider-image"
                 additionalAttributes="{data-u: 'image'}"
                 src="{image.uid}"
                 treatIdAsReference="1"
                 height="{settings.carousel.image.maxHeight}"
                 width="{settings.carousel.image.maxWidth}"
                 cropVariant="specialSlider" />
        <div class="slider-caption-wrap">
            <div class="slider-caption">
                <span class="slider-date">
                    {program.datetime -> f:format.date(format:settings.carousel.datetimeFormat)}
                </span>
                <span class="slider-title">
                    {program.title}
                </span>
            </div>
        </div>
    </div>
</f:link.action>
