<html
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
    xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
    xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
    xmlns:beuser="http://typo3.org/ns/TYPO3/CMS/Beuser/ViewHelpers"
    data-namespace-typo3-fluid="true"
>

<f:if condition="{pi_flexform_transformed.settings}">
    <f:for each="{pi_flexform_transformed.settings}" key="setting" as="value">
        <f:if condition="{beuser:isArray(value:value)}">
            <f:then>
                <f:for each="{value}" key="subsetting" as="subvalue">
                    <f:if condition="{subvalue}">
                        <f:translate key="LLL:EXT:clubdata/Resources/Private/Language/locallang_flexform.xlf:settings.{setting}.{subsetting}"
                                     default="settings.{setting}.{subsetting}" />:
                        <f:translate key="LLL:EXT:clubdata/Resources/Private/Language/locallang_flexform.xlf:settings.{setting}.{subsetting}.{subvalue}"
                                     default="{subvalue}" />
                        <br>
                    </f:if>
                </f:for>
            </f:then>
            <f:else>
                <f:if condition="{value}">
                    <f:translate key="LLL:EXT:clubdata/Resources/Private/Language/locallang_flexform.xlf:settings.{setting}"
                                 default="settings.{setting}" />:
                    <f:translate key="LLL:EXT:clubdata/Resources/Private/Language/locallang_flexform.xlf:settings.{setting}.{value}"
                                 default="{value}" />
                    <br>
                </f:if>
            </f:else>
        </f:if>
    </f:for>
</f:if>
